:root { 
--teal_400_01:#26ada6; 
--deep_orange_A100:#fea088; 
--blue_gray_50:#eaf0f1; 
--red_500:#f8513e; 
--gray_800_01:#383838; 
--light_blue_800:#0167be; 
--teal_400:#2db6a4; 
--teal_300:#4891b4; 
--teal_600:#098982; 
--black_900_01:#0a0e15; 
--black_900:#000000; 
--teal_700:#008c57; 
--teal_900:#054a52; 
--deep_orange_300:#fe9a69; 
--deep_orange_400:#fc7948; 
--teal_400_02:#339688; 
--gray_600:#6c737f; 
--gray_700:#616659; 
--blue_gray_100:#cacecb; 
--orange_A200:#ec8e3b; 
--blue_gray_400:#878686; 
--blue_gray_300:#9db8b3; 
--gray_800:#493f38; 
--teal_300_01:#35ca97; 
--orange_300:#feb352; 
--gray_300:#e0e0e8; 
--gray_300_02:#e6e6e6; 
--gray_300_01:#e0e0e9; 
--gray_100:#f0f4fc; 
--orange_100:#fce1be; 
--orange_50:#fcf0e2; 
--teal_600_01:#02955f; 
--indigo_A400:#4461f2; 
--cyan_800:#267a8c; 
--indigo_A400_1c:#4461f21c; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}